@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>


    <address>
        Vietnam - Ho Chi Minh City<br />
        Binh Tan x Binh Thanh<br />
        <abbr title="Phone">P:</abbr>
        19001560
    </address>

    <address>
        <strong>Support:</strong>   <a href="https://www.facebook.com/profile.php?id=100074498322280">521K0165@student.tdtu.edu.vn</a><br />
        <strong>Marketing:</strong> <a href="https://www.facebook.com/tienphucnguyenn">521K0114@student.tdtu.edu.vn</a>
    </address>
</main>