@{
    ViewBag.Title = "Home Page";
}

<main>
            <section class="row" aria-labelledby="aspnetTitle">
                <h1 id="title" class="title">Mobile Phone Product Thingy</h1>
                <p class="lead">This is a fresh brand new Company. Expect the unexpected!</p>
                
            </section>

            <div class="row">
                <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                    <h2 id="gettingStartedTitle" class="header"></h2>
                    <p class="p">
                       
                    </p>
                    <p><a class="btn btn-outline-dark" href="https://cellphones.com.vn/dich-vu-thanh-toan-hoa-don">Payment &raquo;</a></p>
                </section>
                <section class="col-md-4" aria-labelledby="librariesTitle">
                    <h2 id="librariesTitle" class="header"></h2>
                    <p class="p"></p>
                    <p><a class="btn btn-outline-dark" href="https://cellphones.com.vn/mobile.html">Company Web page &raquo;</a></p>
                </section>
                <section class="col-md-4" aria-labelledby="hostingTitle">
                    <h2 id="hostingTitle" class="header"></h2>
                    <p class="p"></p>
                    <p><a class="btn btn-outline-dark" href="https://cellphones.com.vn/dich-vu-khach-hang-doanh-nghiep">Support / Help &raquo;</a></p>
                </section>
            </div>
</main>

<style>
    .col-md-4 {
        background: linear-gradient(to bottom, #034001, #d9a282);
    }

    .header {
        color: white;
    }

    .row {
        background: linear-gradient(to bottom, #027368, #034001);
    }

    .lead {
        color: #d9a282;
        font-weight: bold;
    }

    .title {
        color: #d9a282;
    }

    .p{
        color: white;
    }
</style>